@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-[120%];
  line-height: 1.5;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  background-color: #fff;
  /* Set card content background color */
  flex: 1;
  border-radius: 20px;

}

.h1 {
  @apply text-[72px] xl:text-[72px] font-semibold;
}

.h2 {
  @apply text-[30px] xl:text-[48px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
  @apply text-[20px] xl:text-[36px] font-semibold;
}

.h4 {
  @apply text-[20px] xl:text-[30px] font-semibold capitalize tracking-[0.44px];
}

.h5 {
  @apply text-[18px] xl:text-[24px] font-semibold;
}

.h6 {
  @apply text-[16px] xl:text-[20px] font-semibold capitalize tracking-[0.44px];
}

.imag {
  border-radius: 100px;
}


@media (max-width: 767px) {
  .custom-width {
    width: 100%; /* Make the card full width on mobile */
  }

  .custom-height {
    height: auto; /* Allow the height to adjust based on content */
  }

  /* You can adjust other responsive styles here */
}
/* styles.css (or your project's CSS file) */
.custom-width {
  width: 865px; /* Set the desired width */
}

.custom-height {
  height: 360px; /* Set the desired height */
}

/* Optionally, you can prevent the card from shrinking with flex-shrink: 0 */
.custom-width, .custom-height {
  flex-shrink: 0;
}

ul {
  list-style-type: disc; /* Use a square symbol */
}

.btn {
  @apply px-4 py-1.5  rounded-md font-semibold bg-primary text-white tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-4 {
  @apply px-4 py-0.5  rounded-md font-semibold bg-gray-200 text-customary tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-outline {
  @apply px-4 py-1.5 rounded-md font-semibold text-white tracking-[1.02px] flex items-center justify-center transition-all;
}

.btn-outline-2 {
  @apply px-4 py-1.5 rounded-md font-semibold text-primary tracking-[1.02px] flex items-center justify-center transition-all;
}
.btn-outline-3 {
  @apply px-4 py-1.5 rounded-md font-semibold tracking-[1.02px] flex items-center justify-center transition-all;
}
.btn-text {
  font-size: 18px;
}


.rounded-image {
  overflow: hidden;
  border-top-left-radius: 10px;
  /* Round the top-left corner */
  border-top-right-radius: 10px;
  /* Round the top-right corner */
}

.search-btn {
  width: 525px;
  height: 54px;
  flex-shrink: 0;
}



.btn-lg {
  @apply h-64 px-[50px];
}

.btn-md {
  @apply h-48 px-[50px];
}

.btn-sm {
  @apply h-32 px-[10px];
}

.btn-accent {
  /* @apply bg-primary text-white; */
}

.section {
  @apply py-12 xl:py-[150px];
}



.slide-container-2 {
  max-width: 100%;
  padding: 40px 0;
  overflow: hidden;
  margin-left: auto;
  /* Center the container */
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}

.course-img {
  border-radius: 20px;
  width: 498px;
  position: relative;
  /* Add position relative to the image container */
  top: -25px;
  /* Adjust the value to move the image up or down */
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 20px;
  /* Add rounded border */
  overflow: hidden;
  /* Hide overflow content */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;

  padding: 10px 14px;

}

.image-content {
  position: relative;
  row-gap: 5px;

  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;

}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.swiper-slide-2 {
  width: calc(20% - 24px);
  /* Calculate the width for 5 slides with spacing */
  margin-right: 12px;
  margin-left: 12px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.hed {
  font-size: 45px;
}

.dec {
  font-size: 16px;
}

.description {
  font-size: 14px;
  color: #707070;
}

.description-2 {
  font-size: 14px;
  color: #2EAAFA;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.swiper{
  width : 100% !important;
}

.swiper-navBtn {
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 5px;
  /* Adjust this value to move the next arrow to the right */
  transform: translateY(-50%);
  /* Adjust this value to center the arrow vertically */
}
.name-2 {
  color: #1E1926;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.swiper-button-prev {
  left: 5px;
  /* Adjust this value to move the prev arrow to the left */
  transform: translateY(-50%);
  /* Adjust this value to center the arrow vertically */
}

.swiper-pagination{
  margin-top: 20px;
}


@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    margin-right: 20px;
    display: none;
  }
}


.ele {
  background: linear-gradient(288deg, #2EAAFA -44.83%, #1F2F98 62.37%);
}

#navbar-active{
  display: none;
}

#menubar-active{
  display : block; 
}


@media (min-width : 768px) {
  #navbar-active{
    display: flex;
  }
  #menubar-active{
    display: none;
  }
}

/* Menu burger */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 24px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  top : 25px !important; 
  right : 25px !important; 
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top : 0; 
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: none !important;
  width : 0 !important;
}

/* Hero section */
.hide-in-sm{
  display : flex; 
}

@media (max-width : 768px) {
  .hide-in-sm{
    display: none;
  }
}

.hero-form-border{
  border: 2px solid #1F2F98;
}

.btn-primary{
  background-color: #1F2F98;
  color: #fff;
}